@media screen and (max-width: 48em) 
{
    .css-1nl99t5{
        border-inline-start-width: 0px !important;
        margin-inline-start: 0px !important;
        padding-inline-start: 0px !important;
    }
}